[submodule "arduino-libraries/SBUS"]
	path = arduino-libraries/SBUS
	url = https://github.com/bolderflight/SBUS.git
	shallow = true
[submodule "magellan-deps"]
	path = magellan-deps
	url = https://github.com/Pitt-RAS/magellan-deps.git
[submodule "arduino-libraries/Adafruit_BNO055"]
	path = arduino-libraries/Adafruit_BNO055
	url = https://github.com/adafruit/Adafruit_BNO055.git
[submodule "arduino-libraries/Adafruit_Sensor"]
	path = arduino-libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
